<!doctype html>
<html lang="en">
  <head>
    <title>MenteVital | Blogs </title>
  </head>
  <body>

<div class="container mb-3">
    <%= render 'globalPartials/navlight'%>
</div>

<!-- <div class="container mt-5" style="height: 800px;"> -->
<!-- Principio del widget integrado de Calendly -->
<div class="calendly-inline-widget container mt-8" data-url="https://calendly.com/nicolas-barticevic/15min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Final del widget integrado de Calendly -->
<!-- </div> -->
