<!doctype html>
<html lang="en">
  <head>
    <title>MenteVital | Blogs </title>
  </head>
  <body>

<div class="container mb-3">
    <%= render 'globalPartials/navlight'%>
</div>

<!-- <div class="container mt-5" style="height: 800px;"> -->
<!-- Principio del widget integrado de Calendly -->
<!-- <div class="calendly-inline-widget container mt-8" data-url="https://calendly.com/nicolas-barticevic/15min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> -->
<!-- Final del widget integrado de Calendly -->
<!-- </div> -->

<!-- Principio del widget integrado de Calendly -->
<!--<div class="calendly-inline-widget container mt-8" data-url="https://calendly.com/psiquiatriavital/consulta-siquiatria-del-estilo-de-vida" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
--><!-- Final del widget integrado de Calendly -->
<div class="row">
<div class="ibox ">
  <div class="ibox-content">
               
                <div class="alert alert-warning">
                    También estoy atendiendo en la Unidad de Psiquiatría Integrativa del Grupo Clínico Más. Reserva de horas al: +56 9 7345 2776
                </div>
 
            </div>
</div>
</div>

<div class = "row">
  <div class = "col-md-3">
  </div>
  <div class = "col-md-6">
    <h4>Reserva tu hora</h4>
  <iframe style="overflow: hidden; border-radius: 10px; margin-bottom: 20px; margin-top: 150px" src="https://agendamiento.reservo.cl/makereserva/agenda/r0OLI3E0o0BANM0o2h26z181J5x0S0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
