
<div class="card" style="width: 70rem;">

<div class="card-header">
    <h5>Editando el About</h5>
  </div>

<%= render 'form', about: @about %>

<%= link_to 'Mostrar', @about %> |
<%= link_to 'Volver', abouts_path %>

</div>
